:root {
    --def-color: #32cd32;
    --thm-color: #4682b4;
    --prf-color: #ff7f50;
}

.block {
    background-color: #f7f7f7;
    padding: 5px 16px 5px 16px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.block-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #cccccc;
}

.block-title .subtitle {
    margin-left: 10px;
    font-weight: normal;
    padding-left: 15px;
    border-left: 3px solid #cccccc;
}

.def {
    color: var(--def-color);
    border-bottom: 2px solid var(--def-color);
}

.thm {
    color: var(--thm-color);
    border-bottom: 2px solid var(--thm-color);
}

.prf {
    color: var(--prf-color);
    border-bottom: 2px dashed var(--prf-color);
}